.s-detail-1 {
    background-color: #f8f9f9;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.s-detail-1 .box-info {
    box-shadow: 0px 0px 4px rgb(66 69 83 / 5%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.s-detail-1 .box-info p {
    margin-bottom: 8px;
}
.s-detail-1 .box-info i.fa {
    width: 15px;
    text-align: center;
    margin-right: 5px;
    color: #057682;
}
.s-detail-1 .box-info.order div {
    color: #666;
    font-weight: 600;
    padding-bottom: 7px;
}
.s-detail-1 .box-info.order div:not(:last-child) {
    margin-bottom: 7px;
    border-bottom: 1px dashed #ccc;
}
.s-detail-1 .box-info.order .orderCode span {
    color: #f60;
}
.s-detail-1 .box-info.order div span {
    color: #0b6972;
    font-weight: bold;
}
.infoPrice {
    text-align: right;
}
.infoPrice>div:not(:last-child) {
    margin-bottom: 5px;
}
.infoPrice .sum {
    font-weight: 600;
}
.infoPrice .total {
    font-weight: bold;
}
.infoPrice .price {
    display: inline-block;
    min-width: 70px;
    margin-left: 5px;
    font-size: 15px;
}
.infoPrice .total .price {
    font-size: 18px;
}
.infoPrice .discount .price {
    color: #f60;
}

.cart-item {
    width: 100% !important;
    background-color: #fff;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 4px rgb(66 69 83 / 5%);
    overflow: hidden;
    margin-bottom: 15px;
}
.cart-item .item_img {
    width: 20%;
}
.cart-item .item_img img {
    border-radius: 10px;
}
.cart-item .item_content {
    margin-left: 10px;
    width: calc(80% - 10px);
}
.cart-item .item_content .content_top .info .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .desc {
    margin-bottom: 0;
    font-style: italic;
    color: #666;
    font-weight: 500;
}
.cart-item .item_content .content_top .info .parent {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item .item_content .content_top .info .desc.is-combo {
    margin-left: 16px;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .option {
    font-weight: 600;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .price {
    margin-top: 5px;
}
.cart-item .item_content .content_top .info .discount {
    font-weight: 600;
    font-size: 16px;
    color: #057682;
}
.cart-item .item_content .content_top .info .market {
    color: #aeaeae;
    font-size: 14px;
    font-weight: normal;
    margin-left: 7px;
    text-decoration: line-through;
}
.cart-item .item_content .content_top .delete {
    width: 20%;
    text-align: right;
}
.cart-item .item_content .content_top .delete span {
    background-color: #f2f2f2;
    padding: 12px 13px 7px;
    border-radius: 5px;
}
.cart-item .item_content .content_bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.cart-item .item_content .content_bot .left {
    display: flex;
    align-items: center;
}
.cart-item .item_content .content_bot .quantity {
    width: 85px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.cart-item .item_content .content_bot .quantity span {
    display: block;
    color: #121212;
    cursor: pointer;
    min-width: 2.667em;
    width: 2.667em;
    height: 2.667em;
    line-height: 2.667em;
    margin: 0 auto;
    text-align: center;
    background-color: #e9e9e9;
    border-radius: 5px;
}
.cart-item .item_content .content_bot .quantity input {
    display: block;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
    font-weight: bold;
    min-width: 2.667em;
    width: 1.667em;
    height: 2.667em;
    border-radius: 5px;
    margin: 0 8px;
}
.cart-item .item_content .content_bot .quantity input:focus {
    outline: none;
}
.cart-item .item_content .content_bot .price {
    font-size: 20px;
    font-weight: bold;
}
@media (min-width: 992px) {
    .mobile {
        display: none;
    }
}
@media (max-width: 991px) {
    .desktop {
        display: none;
    }
}
@media (max-width: 767px) {
    .cart-item, .s-detail-1 .box-info {
        padding: 10px;
    }
}