.s-commit-3 .s_block {
    display: flex;
    align-items: center;
    margin: 70px 0;
}

.s-commit-3 .s_block .s_content {
    border: 1px solid #057682;
    border-radius: 10px;
    width: 50%;
    position: relative;
    transform: translateX(-35px);
    z-index: 9;
    background-color: #fff;
}
.s-commit-3 .s_block .s_content .info {
    display: flex;
    align-items: center;
    background-color: #057682;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.s-commit-3 .s_block .s_content .info div:first-child {
    font-weight: bold;
    font-size: 55px;
    display: none;
}
.s-commit-3 .s_block .s_content .info div:last-child {
    font-weight: 400;
    font-size: 25px;
}
.s-commit-3 .s_block .s_content .ht-format-detail {
    padding: 20px;
    color: #04454b;
}
.s-commit-3 .s_block .s_thumb {
    width: 50%;
}
.s-commit-3 .s_block .s_thumb img {
    border-radius: 10px;
}
.s-commit-3 .s_block:nth-child(even) {
    flex-direction: row-reverse;
}
.s-commit-3 .s_block:nth-child(even) .s_content {
    transform: translateX(35px);
}
.s-thanks-1 {
    background-image: url('/images/banner_3.png');
    background-size: cover;
    padding: 140px 0;
    position: relative;
}
.s-thanks-1::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 20%);
}
.s-thanks-1 .s_box {
    position: relative;
    z-index: 1;
    background-color: rgba(196, 196, 196, .6);
    border-radius: 30px;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 50px;
}
.s-thanks-1 .s_box .s_title {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: .03em;
}
.s-thanks-1 .s_box .s_desc {
    font-size: 24px;
}
@media screen and (max-width: 767px) {
    .s-commit-3 .s_block {
        display: block;
        margin: 40px 0;
    }
    .s-commit-3 .s_block .s_content {
        width: 100%;
        transform: none !important;
        margin-top: 15px;
    }
    .s-commit-3 .s_block .s_thumb {
        width: 100%
    }
    .s-commit-3 .s_block .s_content .info div:last-child {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        width: 100%;
    }
    .s-commit-3 .s_block .s_content .info {
        justify-content: center;
        padding: 10px 20px;
    }
    .s-thanks-1 .s_box .s_title {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .s-thanks-1 .s_box .s_desc {
        font-size: 18px;
    }
}
@media screen and (max-width: 575px) {
    .s-commit-3 .s_block .s_content .info div:first-child {
        font-size: 30px;
    }
    .s-thanks-1 {
        padding: 40px 0;
    }
    .s-thanks-1 .s_box {
        padding: 25px;
    }
}