.s-breadcrumb-1 {
    margin-bottom: 10px;
}
/* BEGIN p-detail-11 */
.p-detail-11 {
    padding-bottom: 30px;
    margin-top: 30px;
}
.p-detail-11 .s-breadcrumb-1.left {
    margin-bottom: 10px;
}
.p-detail-11 .p_box {
    position: relative;
}
.p-detail-11 .p_title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}
.p-detail-11 .p_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-detail-11 .p_source {
    margin-bottom: 15px;
}
.p-detail-11 .p_source li {
    display: inline-block;
    margin-right: 20px;
}
.p-detail-11 .p_source li span.fa::before {
    color: #f48423;
}
.p-detail-11 .p_desc {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.334em;
    margin-bottom: 20px;
    text-align: justify;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    color: #044148;
}
.p-detail-11 .p_date {
    color: #666;
    margin-bottom: 10px;
}
.p-detail-11 .p_social {
    margin: 20px 15px;
    line-height: 0;
    text-align: right;
}
.p-detail-11 .p_social a {
    font-size: 16px;
}
.p-detail-11 .p_social::before {
    content: '';
    display: inline-block;
    width: 65px;
    height: 1px;
    margin-right: 20px;
    background-color: #ddd;
}
.p-detail-11 .p_other>h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.p-detail-11 .p_other>ul>li a {
    display: block;
    padding: 8px 0 8px 10px;
    border-bottom: 1px dotted #DDD;
}
.p-detail-11 .p_other>ul>li a:hover {
    color: #f48423;
}
.p-detail-11 .p_tag {
    font-size: 13px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.p-detail-11 .p_tag label {
    float: left;
    line-height: 2.231em;
    margin-right: 5px;
}
.p-detail-11 .p_tag a {
    display: inline-block;
    color: #333;
    font-size: 0.924em;
    padding: 0.334em 0.75em 0.334em 0.75em;
    margin: 2px 0;
    background-color: rgb(190 147 72 / 10%);
    border-left: 0.25em solid #be9348;
    position: relative;
}
.p-detail-11 .p_tag a:before {
    content: '';
    height: 0;
    width: 0;
    border: solid transparent;
    border-left-color: #be9348;
    border-width: 0.334em;
    pointer-events: none;
    position: absolute;
    top: 0.667em;
    left: 0;
}
.p-detail-11 .p_tag a:hover {
    color: #601915;
}
.p-detail-11 .p_other {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}
.p-detail-11 .p_other .title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.p-detail-11 .slick-slider {
    z-index: 1;
}
.p-detail-11 .slick-slider .item {
    margin: 2px 7px;
}
.p-detail-11 .slick-slider .item .b-card-53 {
    height: 100%;
    margin-bottom: 0;
}
.p-detail-11 .ht-format-detail {
    font-size: 16px;
}
/* BEGIN s-sidebar-4 */
.s-sidebar-4 {
    border: 1px solid #eee;
    background: #f1f1f1;
    padding: 13px 15px 20px 5px;
    border-radius: 16px;
    margin-top: 0;
}
.s-sidebar-4 .s_heading {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.s-sidebar-4 .s_heading::before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: normal;
    margin-right: 10px;
}
.s-sidebar-4 .s_heading i {
    margin-left: auto;
    transition: all 0.5s;
}
.s-sidebar-4.desktop .s_heading i {
    margin-right: -3.5px;
}
.s-sidebar-4 .s_heading.is-active i {
    transform: rotate(180deg);
}
.s-sidebar-4.desktop .s_list {
    max-height: calc(100vh - 105px);
    overflow-y: auto;
    padding-right: 6px;
}
.s-sidebar-4.desktop .s_list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.s-sidebar-4.desktop .s_list::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    background-clip: padding-box;
}
.s-sidebar-4.desktop .s_list:hover::-webkit-scrollbar-thumb {
    background-color: #03707d;
}
.s-sidebar-4.desktop .s_list::-webkit-scrollbar {
    width: 3px;
    overflow: visible;
}
.s-sidebar-4 .s_list li {
    margin-bottom: 0;
}
.s-sidebar-4 .s_list>ul {
    list-style: decimal;
    font-size: 15px;
    padding-left: 30px;
}
.s-sidebar-4 .s_list>ul>li {
    font-weight: 500;
}
.s-sidebar-4 .s_list a {
    display: block !important;
    margin-bottom: 5px;
    font-size: 15px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.s-sidebar-4 .s_list a:hover {
    color: #057682;
}
.s-sidebar-4 .s_list .title {
    font-size: 16px;
    font-weight: 500;
}
.s-sidebar-4 .s_list .thumb {
    float: left;
    width: 90px;
    line-height: 0;
    margin-right: 12px;
}
.s-sidebar-4 .s_list ul ul {
    margin-bottom: 5px;
}
.s-sidebar-4 .s_list ul ul li::before {
    content: '';
}
.s-sidebar-4 .s_list ul ul li a {
    font-size: 14px;
    margin-bottom: 3px;
}
.s-sidebar-4 .s_list ul ul li a::before {
    content: '\f111';
    font-family: FontAwesome;
    font-size: 5px;
    margin-right: 6px;
    color: #555;
    display: inline-block;
    transform: translateY(-3px);
}
/* END s-sidebar-4 */
.sticky {
    position: sticky;
    top: 10px;
    transition: 0.25s ease;
}
#scrollTo {
    cursor: pointer;
}
@media (min-width: 992px) {
    .s-sidebar-4.mobile {
        display: none;
    }
}
@media (min-width: 1400px) {
    .p-detail-11 .p_desc {
        font-size: 18px;
    }
    .p-detail-11 .ht-format-detail {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .s-banner-2 {
        padding: 50px 0;
    }
    .s-breadcrumb-1 {
        margin-bottom: 0;
    }
    .p-detail-11 .p_box {
        width: 100%;
        margin: -20px auto 5px;
    }
    .s-section-1 .s_title {
        margin-top: 15px;
    }
    .ht-page__sidebar {
        display: none;
    }
    .p-detail-11 .p_box {
        padding: 15px 0;
    }
    .s-sidebar-4.desktop {
        display: none;
    }
    .s-sidebar-4 {
        margin-top: 15px;
        padding: 10px 15px;
    }
    .s-sidebar-4 .s_heading {
        margin-bottom: 0;
    }
    .s-sidebar-4 .s_list {
        display: none;
        margin-top: 10px;
    }
    .s-review-1 {
        margin: 0;
    }
    .p-list-7 .p_link {
        margin-bottom: 0;
    }
    .p-detail-11 .p_title {
        font-size: 23px;
    }
}
@media screen and (max-width: 575px) {
    .s-sidebar-4 {
        margin-bottom: 20px;
    }
    .s-breadcrumb-1, .p-list-7 {
        display: none;
    }
    .p-detail-11 .p_flex {
        display: block;
    }
    .p-detail-11 .p_desc {
        margin-top: 15px;
    }
    .s-comment-1 .s_like {
        display: none;
    }
    .p-detail-11 {
        padding-bottom: 0;
    }
}