.s_recommend [class*="b-sslide-"] .slick-arrow:before {
    font-size: 20px;
}
.s-tab-9 {
    margin-top: 20px;
    background-color: #fff;
}
.s-cart-1 {
    background-color: #f8f9f9;
    padding: 50px 0;
}
.s-cart-1 .b-card-21 .b_title {
    font-size: 15px;
}
.s-cart-1 .c-button-19 {
    padding: 5px 20px;
}
.box {
    box-shadow: 0px 0px 4px rgb(66 69 83 / 5%);
    min-height: 50px;
    background-color: #fff;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.cart-item {
    width: 100% !important;
    background-color: #fff;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 4px rgb(66 69 83 / 5%);
    overflow: hidden;
    margin-bottom: 25px;
}
.cart-item .item_img {
    width: 20%;
}
.cart-item .item_img img {
    border-radius: 10px;
}
.cart-item .item_content {
    margin-left: 10px;
    width: calc(80% - 10px);
}
.cart-item .item_content .content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item .item_content .content_top .info {
    width: 80%;
}
.cart-item .item_content .content_top .info .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .desc {
    margin-bottom: 0;
    font-style: italic;
    color: #666;
    font-weight: 500;
}
.cart-item .item_content .content_top .info .parent {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item .item_content .content_top .info .desc.is-combo {
    margin-left: 16px;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .option {
    font-weight: 600;
    margin-bottom: 5px;
}
.cart-item .item_content .content_top .info .price {
    margin-top: 5px;
}
.cart-item .item_content .content_top .info .discount {
    font-weight: 600;
    font-size: 16px;
    color: #057682;
}
.cart-item .item_content .content_top .info .market {
    color: #aeaeae;
    font-size: 14px;
    font-weight: normal;
    margin-left: 7px;
    text-decoration: line-through;
}
.cart-item .item_content .content_top .delete {
    width: 20%;
    text-align: right;
}
.cart-item .item_content .content_top .delete span {
    background-color: #f2f2f2;
    padding: 12px 13px 7px;
    border-radius: 5px;
}
.cart-item .item_content .content_bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.cart-item .item_content .content_bot .left {
    display: flex;
    align-items: center;
}
.cart-item .item_content .content_bot .quantity {
    width: 85px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.cart-item .item_content .content_bot .quantity span {
    display: block;
    color: #121212;
    cursor: pointer;
    min-width: 2.667em;
    width: 2.667em;
    height: 2.667em;
    line-height: 2.667em;
    margin: 0 auto;
    text-align: center;
    background-color: #e9e9e9;
    border-radius: 5px;
}
.cart-item .item_content .content_bot .quantity input {
    display: block;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
    font-weight: bold;
    min-width: 2.667em;
    width: 1.667em;
    height: 2.667em;
    border-radius: 5px;
    margin: 0 8px;
}
.cart-item .item_content .content_bot .quantity input:focus {
    outline: none;
}
.cart-item .item_content .content_bot .price {
    font-size: 20px;
    font-weight: bold;
}
.s-comboslick-1 .p_sale {
    border: 1px solid #ff2459;
    border-radius: 10px;
    padding: 10px 10px 0;
    margin: 0 5px;
}
.s-comboslick-1 .p_sale .item {
    margin: 0 10px;
}
.s-comboslick-1 .p_sale .mtitle {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #ff2459;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.s_recommend {
    margin: 15px 0;
}
.s_recommend .item {
    margin: 0 1px;
}
.s_recommend .recommend {
    padding: 10px;
    border: 2px dashed #dadada;
    background-color: #eee;
    border-radius: 5px;
}
.s_recommend .recommend div:first-child {
    font-weight: 300;
}
.s_recommend .recommend div:first-child span {
    display: block;
    font-weight: 600;
    font-size: 20px;
}
.s_recommend .recommend div:nth-child(2) {
    font-weight: 300;
}
.s_recommend .recommend div:nth-child(2) span {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #d70018;
}
.s_recommend .recommend div:nth-child(3) {
    margin-top: 5px;
}
.s_recommend .recommend div:nth-child(3) div {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #057682;
}
.s_recommend .recommend a {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #e5e5e5;
    margin-top: 10px;
    color: #d70018;
    padding: 5px;
    border-radius: 5px;
}
.s-product-1 {
    position: relative;
}
.s-product-1 .s_title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.s-product-1 .slick-slider {
    z-index: 1;
}
.s-product-1 .slick-slider .item {
    margin: 2px 7px;
}
.b-card-58 .b_title {
    font-size: 14px;
}
.b-card-58 .b_price {
    font-size: 14px;
}
.b-card-58 .b_price .market {
    font-size: 13px;
}
.b-card-58 .b_flex {
    font-size: 14px;
}
.b-card-58 .s_button {
    font-size: 11px;
    margin-top: 15px;
}
.s-cart-1 .s_total {
    background-color: #fff;
    padding: 10px 10px 1px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.s-cart-1 .s_total .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.s-cart-1 .s_total .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.s-cart-1 .s_total .info.total {
    font-weight: bold;
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    margin-top: 20px;
}
#sum .price, .s-cart-1 .s_total .sum {
    font-weight: 600;
}
#discount .price, #reducedCash .price, .s-cart-1 .s_total .discount {
    color: #f60;
}
.s-cart-1 .s_button {
    background: linear-gradient(107deg, #057682 0%, #059aa9 100%);
    color: #ffffff;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.s-cart-1 .s_item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.s-cart-1 .s_item .item {
    width: 50%;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 20px;
}
.s-cart-1 .s_item .item img {
    width: 35px;
}
.s-cart-1 .s_item .item .title {
    font-size: 14px;
    margin-top: 7px;
}
.s-cart-1 .s_slick {
    margin-bottom: 15px;
}
.s-cart-1 .s_slick .slick-list {
    border-radius: 10px;
}
.s-cart-1 .s_slick img {
    border-radius: 10px;
}
.s-form-2 {
    background-color: #f8f9f9;
    padding: 50px 0;
}
.s-form-2 .s_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.s-form-2 .s_title .title {
    font-weight: bold;
    font-size: 25px;
}
.s-form-2 .s_title a {
    color: #2f5acf;
}
.s-form-2 .c-form-border {
    border-radius: 20px;
    border: 1px solid #d9d9d9;
}
.s-form-2 .c-form-border .c_input::placeholder {
    color: #666;
}
.s-form-2 .c-select>.c_input {
    color: #666;
}
.s-form-2 .s_pay {
    margin-top: 15px;
}
.s-form-2 .s_pay .c-radio {
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    padding: 15px 20px;
    transition: all 0.5s;
}
.s-form-2 .s_pay .c-radio:hover {
    border-color: #057682;
}
.s-form-2 .s_pay .c-radio img {
    width: 35px;
    margin: 0 15px;
}
.s-form-2 .s_pay .c-radio div span {
    display: block;
    margin-bottom: 5px;
}
.s-form-2 .s_pay .form-group {
    margin-bottom: -5px;
}
.s-form-2 .form-flex {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.s-form-2 .form-flex .c-radio {
    margin-right: 15px;
}
.s-form-2 .mtitle {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}
.s-form-2 button[type="submit"], .s-form-2 .button {
    width: 100%;
    background-color: #00ff7f;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    display: block;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
.s-form-2 .discount-box {
    width: 100%;
    height: 39px;
    margin-top: 1rem;
    position: relative;
}
.s-form-2 .discount-box input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 20px;
    width: 70%;
    height: 100%;
    border-radius: 16px;
    z-index: 3;
    outline: none;
    border: 1px solid #ddd;
}
.s-form-2 .discount-box button {
    width: 35%;
    height: 100%;
    color: white;
    padding: 5px 20px 5px calc(20px + 3%);
    border-radius: 0 16px 16px 0;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: .2s all;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    cursor: not-allowed;
}
.s-form-2 .discount-box button.active {
    cursor: pointer;
    background-color: #057682;
}
.s-form-2 .s-cart-1 {
    padding: 20px 0;
}
.s-form-2 .s-cart-1 .s_total .info.total div:last-child {
    font-size: 20px;
}
.s-form-2 .cart-item .item_content .content_top .info {
    width: 100%;
}
.s-form-2 .cart-item .item_content .content_top .info .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.s-form-2 .cart-item .item_content .content_bot {
    margin-top: 5px;
}
.s-form-2 .cart-item .item_content .content_bot .price {
    font-size: 16px;
}
.s-form-2 .notifyDiscount {
    margin-top: 10px;
    margin-left: 20px;
    color: #f60;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
}
.s-form-2 .notifyDiscount.is-error {
    color: #f00;
}
.c-select .title {
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0 10px 10px;
    margin-top: 5px;
    border-bottom: 1px dashed #ccc;
}
.c-select .title:not(:first-child) {
    margin-top: 15px;
}
.c-select .search-area {
    margin-top: 10px;
    margin-bottom: 0;
}
.c-select .search-area+.c-radio {
    margin-top: 10px;
}
@media(min-width: 992px) {
    .mobile {
        display: none;
    }
    .box {
        margin: 0 5px;
    }
    .s_recommend .slick-prev {
        left: -7px;
    }
    .s_recommend .slick-next {
        right: -7px;
    }
}
@media(max-width: 991px) {
    .s-cart-1 {
        padding: 25px 0;
    }
    .s-form-2 .flex {
        display: flex;
        flex-direction: column-reverse;
    }
    .desktop {
        display: none;
    }
    .s-product-1 {
        margin-top: 30px;
    }
}
@media(max-width: 575px) {
    .cart-item {
        padding: 10px;
    }
    .cart-item .item_content .content_bot {
        display: block;
    }
    .cart-item .item_content .content_bot .price {
        margin-top: 10px;
    }
    .cart-item .item_content .content_top .info .title {
        font-size: 14px;
    }
    .s-form-2 .s_title {
        display: block;
    }
}