@font-face {
    font-family: 'lg';
    src: url("/template/frontend/fonts/fonts-lightgallery/lg.eot?n1z373");
    src: url("/template/frontend/fonts/fonts-lightgallery/lg.eot?#iefixn1z373") format("embedded-opentype"),
        url("/template/frontend/fonts/fonts-lightgallery/lg.woff?n1z373") format("woff"),
        url("/template/frontend/fonts/fonts-lightgallery/lg.ttf?n1z373") format("truetype"),
        url("/template/frontend/fonts/fonts-lightgallery/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.ht-ratio--67::before {
    padding-bottom: calc(67% - 3px);
}

/* BEGIN p-detail-13 */
.p-detail-13 {
    margin: 30px 0 15px;
}
.p-detail-13 .p_content .title {
    font-size: 20px;
    margin: 0.5em 0 0.5em 0;
    font-weight: 500;
}
.p-detail-13 .p_content .info li {
    line-height: 25px;
    margin-bottom: 5px;
    font-style: italic;
}
.p-detail-13 .p_content .info li>span {
    color: #111;
}
.p-detail-13 .p_content .info li>span:first-child {
    display: inline-block;
    width: 115px;
    opacity: 0.7;
    font-weight: 300;
}
.p-detail-13 .p_content .desc {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 14px;
}
.p-detail-13 .p_content .price {
    margin: 15px 0;
}
.p-detail-13 .p_content .price .discount {
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
    color: #d70018;
}
.p-detail-13 .p_content .price .market {
    text-decoration: line-through;
    color: #c4c4c4;
}
.p-detail-13 .p_content .price .number {
    color: #f00;
    margin-left: 10px;
    font-weight: 500;
}
.p-detail-13 .p_content .button {
    width: 72%;
}
.p-detail-13 .p_content .button>a:first-child {
    background-color: #057682;
    color: #fff;
}
.p-detail-13 .p_content .button a {
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    box-shadow: none;
    border-radius: 10px;
    color: #000;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
}
.p-detail-13 .p_content .button>a {
    color: #000;
}
.p-detail-13 .p_content .button a:hover {
    background-color: #000;
    color: #fff;
}

.p-detail-13 .p_content .quality {
    display: flex;
    align-items: center;
    /* margin-bottom: 25px; */
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 10px;
}
.p-detail-13 .p_content .quality>div {
    font-size: 15px;
    /* margin-top: 5px; */
    /* margin-left: 13px; */
}
.p-detail-13 .p_content .quality>div span {
    float: left;
    color: #bbb;
    cursor: pointer;
    text-align: center;
    font-size: 0.858em;
    width: 2.5em;
    height: 2.3em;
    line-height: 2.6em;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}
.p-detail-13 .p_content .quality>div input {
    float: left;
    font-weight: bold;
    text-align: center;
    min-width: 2.143em;
    width: 0em;
    height: 2.3em;
    margin: 0 10px;
    border: navajowhite;
}
.p-detail-13 .p_content .quality>div input:focus {
    outline: none;
}
.p-detail-13 .p_content .list {
    margin-top: 10px;
}
.p-detail-13 .p_detail {
    margin-top: 30px;
}
.p-detail-13 .p_item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.p-detail-13 .p_item .item {
    width: 50%;
    display: flex;
    align-items: center;
}
.p-detail-13 .p_item .item img {
    width: 26px;
    margin-right: 10px;
}
.p-detail-13 .p_item .item h3 {
    font-size: 14px;
}
.p-detail-13 .p_video {
    display: inline-flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.p-detail-13 .p_video img {
    width: 20px;
    margin-right: 5px;
}
.p-detail-13 .p_flex {
    display: flex;
    align-items: center;
    margin: 15px 0 30px;
}
.p-detail-13 .p_icon {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.p-detail-13 .p_icon .item {
    width: 33%;
    padding: 0 15px 15px;
}
.p-detail-13 .p_icon .item img {
    width: 26px;
    margin-right: 10px;
}
.p-detail-13 .p_icon .item h3 {
    font-size: 14px;
}
.p-detail-13 .p_list {
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}
.p-detail-13 .p_list .title {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.p-detail-13 .p_list .title i {
    margin-left: auto;
    transition: all 0.5s;
}
.p-detail-13 .p_list.is-active .title i {
    transform: rotate(45deg);
}
.p-detail-13 .p_list .ht-format-detail {
    display: none;
}
.p-detail-13 .p_list .ht-format-detail p {
    margin-bottom: 5px;
}
.p-detail-13 .p_other .mtitle {
    font-weight: 600;
    margin-bottom: 15px;
}
.p-detail-13 .p_other .item {
    margin: 0 10px;
}

.p-detail-13 .p_promo {
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 25px;
}
.p-detail-13 .p_promo h3 {
    font-size: 15px;
    background-color: #efefef;
    color: #057682;
    padding: 8px 15px;
    border-radius: 0 0 10px;
    font-weight: 600;
}
.p-detail-13 .p_promo .ht-format-detail {
    padding: 15px 15px 5px;
}
.p-detail-13 .p_promo .ht-format-detail>*::before {
    content: '\f058';
    font-family: FontAwesome;
    color: #057682;
    margin-right: 7px;
}
.p-detail-13 .p_detail {
    background-image: url('/images/bgs/bg-12.jpg');
}
.p-detail-13 .p_detail .p_box {
    background-color: #fff;
    padding: 80px;
}
.p-detail-13 .p_headline {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.p-detail-13 .p_headline::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 10px 0;
    background-color: #057682;
}
.p-detail-13 .p_detail .ht-format-detail iframe {
    height: 550px;
}
/* END p-detail-13 */

/* BEGIN s-slide-7 */
.p-slide-7 {
    position: relative;
    overflow: hidden;
}
.p-slide-7 .p_thumb {
    cursor: pointer;
    position: relative;
}
.p-slide-7 .p_zoom {
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    font-size: 60px;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all 0.5s;
}
.p-slide-7 .p_thumb:hover .p_zoom {
    top: 50%;
    opacity: 1;
}

.p-slide-7 .slider-nav {
    /* background-color: #fff; */
    margin: 0px 10px;
}

.p-slide-7 .slider-nav .slick-arrow {
    font-size: 7px;
}
.p-slide-7 .slider-nav .item {
    cursor: pointer;
    line-height: 1.2;
    margin: 2px;
    /* width: 50px !important; */
    /* height: 50px; */
    transition: all .4s ease;
    border-top: 5px solid transparent;
    position: relative;
}
.p-slide-7 .slider-nav .item:after {
    content: '' !important;
    width: 100%;
    height: 110%;
    background: rgba(51, 51, 51, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease;
}
.p-slide-7 .slider-nav .item.item--video {
    position: relative;
}
.p-slide-7 .slider-nav .item button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 12px;
}
.p-slide-7 .slider-nav .item:hover::after, .p-slide-7 .slider-nav .item.slick-current::after {
    background: transparent;
}
.p-slide-7 .b-sslide-ratio .slick-list::before {
    padding-bottom: 88%;
}
.p-slide-7 .slider-for {
    border-bottom: 1px solid #d8d8d8;
}
.p-slide-7 .slider-for .item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.p-slide-7 .slider-for .item .item-title {
    font-size: 16px;
    padding: 10px 0;
    color: #f58634;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.p-slide-7 .slider-nav .item .item-title {
    font-size: 14px;
    margin-top: 8px;
    transition: all .4s ease;
}
.p-slide-7 .slider-nav .item:hover .item-title, .p-slide-7 .slider-nav .item.slick-current .item-title {
    color: #f58634;
}
.p-slide-7 .slider-nav .slick-prev, .p-slide-7 .slider-nav .slick-next {
    font-size: 7px;
    width: 26px;
    height: 26px;
    background-color: #ffffffeb;
    border-radius: 0;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: none;
}
.p-slide-7 .slider-nav .slick-prev:hover, .p-slide-7 .slider-nav .slick-next:hover {
    background-color: #000000;
}
.p-slide-7 .slider-nav .slick-next::before {
    content: '\f054';
    color: #432e2e;
    font-size: 12px;
}
.p-slide-7 .slider-nav .slick-arrow:hover:before {
    color: #fff;
}
.p-slide-7 .slider-nav .slick-prev::before {
    content: "\f053";
    color: #000000;
    font-size: 12px;
}


/* BEGIN b-star-1 */

.myVideo .c-modal-box {
    max-width: 1000px;
}
.myVideo .c-modal-group {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    overflow: unset;
}
.myVideo .c_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
    z-index: 1000;
}
.myVideo .c_body {
    padding: 0;
}

/* BEGIN c-headline-8 */
.c-headline-8 {
    margin-bottom: 30px;
    position: relative;
}
.c-headline-8::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    background: #dcdcdc;
    z-index: 1;
    transform: translateY(-50%);
}
.c-headline-8 .c_name {
    display: inline-block;
    text-transform: none;
    padding: 0px 40px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    background-color: #fff;
    z-index: 9;
    transition: color 0.4s ease;
}
.c-headline-8 a:hover .c_name {
    color: #f60;
}
.c-headline-8 .c_name:after,
.c-headline-8 .c_name:before {
    content: "\f260";
    font-family: FontAwesome;
    font-size: inherit;
    line-height: 0;
    color: #afafaf;
    position: absolute;
    top: 50%;
    left: -2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
}
.c-headline-8 .c_name:after {
    right: -2px;
    left: inherit;
    transform: rotateY(180deg);
}
/* END c-headline-8 */
.s-section-1 {
    margin: 30px 0;
}
.s-section-1 .s_item {
    position: relative;
    background-color: #eee;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    margin-bottom: 15px;
}
.s-section-1 .s_item .line {
    position: absolute;
    max-width: 100%;
    border-radius: 0 10px 10px 0;
    height: 100%;
    top: 0;
    background-color: #057682;
}
.s-section-1 .s_item .line span {
    float: right;
    margin-right: 10px;
    font-size: 14px;
}
.s-section-1 .s_item h3 {
    font-weight: 500;
    position: relative;
    z-index: 99;
    padding-left: 10px;
    font-size: 12pt;
}
.s-section-2 {
    margin: 30px 0;
}
.s-section-2 h3 {
    padding: 10px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(198 255 198);
    color: #0b940b;
}
.s-section-2 .s_right h3 {
    background-color: #ffe9e8;
    color: #d9534f;
}
.s-section-2 ul li {
    margin-bottom: 10px;
    font-size: 17px;
}
.s-section-2 ul li::before {
    content: '\f00c';
    font-family: FontAwesome;
    color: #0b940b;
    margin-right: 9px;
}
.s-section-2 .s_right ul li::before {
    content: '\f00d';
    color: red;
}
.s-section-3 .row {
    /* display: none; */
}
.s-section-3.is-active .row {
    display: flex;
}
.s-section-4 {
    margin: 0 0 15px;
    /* display: none; */
}
.s-section-4.is-active {
    display: block;
}
.s-section-5 {
    /* display: none; */
}
.s-section-5 + .s-section-4, .s-section-3 + .s-section-4 {
    margin-top: 30px;
}
.s-section-5.is-active {
    display: block;
}
.s-section-6 {
    margin: 30px 0;
    /* display: none; */
}
.s-section-6.is-active {
    display: block;
}

.p-detail-13 .view-more {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}
.p-detail-13 .view-more::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 135px;
    background: linear-gradient(to top, #fffffff2 15%, rgb(255 255 255 / 19%) 100%);
    z-index: 11;
    visibility: visible;
}
.p-detail-13 .view-more.full-view {
    max-height: inherit;
}
.p-detail-13 .view-more.full-view::after {
    visibility: hidden;
}

/* BEGIN b-card-3 */
.b-card-3 {
    display: flex;
    margin-bottom: 30px;
    height: calc(100% - 30px);
    border: 1px dashed #057682;
    padding: 15px;
    border-radius: 10px;
    background-color: #f5feff;
}
.b-card-3 .b_icon {
    width: 10%;
    margin-right: 15px;
    text-align: center;
}
.b-card-3 .b_icon>i {
    color: #057682;
    font-size: 55px;
}
.b-card-3 .b_content {
    width: 90%;
}
.b-card-3 .b_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.125em;
    margin-bottom: 7px;
}
.b-card-3 .b_desc {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
    text-align: justify;
    font-size: 16px;
}

/* END b-card-3 */
/* BEGIN b-card-28 */
.b-card-28 {
    display: block;
    margin-bottom: 20px;
    height: calc(100% - 20px);
    border: 1px solid #eee;
}
.b-card-28 .b_thumb img {
    padding: 10px;
    border-radius: 15px;
}
.b-card-28 .b_content {
    text-align: center;
    padding: 0px 20px 20px;
    transition: all 0.5s;
}
.b-card-28 .b_title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 30px;
    position: relative;
}
.b-card-28 .b_desc {
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
    font-size: 13pt;
}
.b-card-28 .b_title::before, .b-card-28 .b_title:after {
    content: '';
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.b-card-28 .b_title:before {
    left: calc(50% - 7px);
    background-color: #057682;
}
.b-card-28 .b_title:after {
    left: calc(50% + 7px);
    background-color: #D9D9D9;
}


/* END b-card-28 */
/* BEGIN b-card-23 */
.b-card-23 {
    display: block;
    margin-bottom: 20px;
}
.b-card-23 .b_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.112em;
    text-align: center;
    margin: 15px 0 10px;
}
.b-card-23 img {
    border-radius: 10px;
}
/* END b-card-23 */
.s-section-6 table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.s-section-6 table tr td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 12pt;
}
.s-section-6 table tr td a {
    font-weight: 500;
}
.s-section-6 table tr td a:hover {
    color: #057682;
}
.s-section-6 table tr:nth-child(odd):not(:first-child) {
    background-color: #eee;
}
.s-section-6 table img {
    width: 100px;
}
.s-section-6 table .td-img {
    border-bottom: 1px solid #fff;
}
/* BEGIN s-faq-1 */
.s-faq-1 .item {
    margin-bottom: 10px;
}
.s-faq-1 .item-title {
    font-size: 15px;
    padding: 5px 0px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.s-faq-1 .item-title>i:first-child {
    color: #057682;
    font-size: 1.429em;
}
.s-faq-1 .item-title>i:last-child {
    position: relative;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
.s-faq-1 .item-title>span {
    width: 100%;
    padding-right: 15px;
}
.s-faq-1 .item-title:hover {
    color: #057682;
}
.s-faq-1 .item-body {
    display: none;
    overflow: hidden;
    margin-top: 10px;
}
.s-faq-1 .item.is-active .item-title {
    color: #057682;
}
.s-faq-1 .item.is-active .item-title>i:last-child {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.s-faq-1 .s_more {
    margin-top: 15px;
    display: block;
    color: #057682;
}
/* END s-faq-1 */
.s-img-1 {
    margin: 30px 0;
}
/* BEGIN b-card-38 */
.b-card-38 {
    display: block;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
}
.b-card-38 img, .b-card-39 video {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.b-card-38::before, .b-card-39.overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 10px;
}
.b-card-38 .b_icon {
    width: 100%;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    position: absolute;
    position: absolute;
    bottom: 50%;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.b-card-38:hover::before, .b-card-38.overlay::before, .b-card-39.overlay::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.b-card-38:hover .b_icon {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}
.b-card-38 .b_overlay, .b-card-39 .b_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
}

/* END b-card-38 */
.b-card-39 {
    display: block;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
}
.b-card-39 img {
    border-radius: 10px;
}
.b-card-39 .b_icon {
    width: 100%;
    font-size: 30px;
    text-align: center;
    z-index: 9;
    position: absolute;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    transition: all 0.7s;
}

.c_choose .recommend {
    background-color: #f4f4f4;
    padding: 5px;
    position: relative;
    color: #a0a2a8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 250px;
    border-radius: 4px;
    cursor: pointer;
}
.c_choose .recommend>div {
    width: 50%;
}
.c_choose .recommend>div.active {
    background-color: #fff;
    margin: 3px;
    border-radius: 3px;
    padding: 5px;
    color: #057682;
    font-weight: 600;
}

/* Style chung c-upload */
.c-upload>input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/* BEGIN c-upload-file */
.c-upload-file.c_input {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.c-upload-file .c_file {
    width: calc(100% - 50px);
}
.c-upload-file .c_file>div {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 36px;
}
.c-upload-file .c_file-filename {
    display: none;
}
.c-upload-file .c_icon {
    line-height: 0;
}
.c-upload-file .c_icon span:first-child {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.c-upload-file.is-active .c_file-text {
    display: none;
}
.c-upload-file.is-active .c_file-filename {
    display: block;
    color: #111;
}
.c-upload-file.is-active .c_icon span:first-child {
    display: inline-block;
}

/* END c-upload-file */
/* BEGIN c-upload-image */
.c-upload-image .c_thumb {
    position: relative;
    overflow: hidden;
    line-height: 0;
    margin-bottom: 10px;
}
.c-upload-image .c_thumb::before {
    content: '';
    display: block;
    padding-bottom: 75%;
}
.c-upload-image .c_thumb>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.c-upload-image .c_thumb>div>img {
    width: 100%;
}
.c-upload-image .c_thumb-preview {
    display: none !important;
}
.c-upload-image .c_btn {
    text-align: center;
}
.c-upload-image .c_btn-change, .c-upload-image .c_btn-remove {
    display: none;
}
.c-upload-image .c_btn-remove {
    position: relative;
    z-index: 2;
}
.c-upload-image.is-active .c_thumb-default {
    display: none;
}
.c-upload-image.is-active .c_thumb-preview {
    display: flex !important;
}
.c-upload-image.is-active .c_btn-change, .c-upload-image.is-active .c_btn-remove {
    display: inline-block;
}
.c-upload-image.is-active .c_btn-new {
    display: none;
}

/* END c-upload-image */
.c-review .c-select .c_list {
    top: unset;
    bottom: 0;
}
.c-review .c-select.is-focused .c_list {
    bottom: 55px;
    top: unset;
}

.c-imgreview .c-modal-box {
    max-width: 1000px;
}
.c-imgreview .c_close {
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #fff;
}
.s-imgreview-1 .s_content {
    padding: 15px;
}
.s-imgreview-1 .s_content p {
    font-weight: 500;
    font-size: 17px;
}
.s-imgreview-1 .s_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-imgreview-1 .s_flex h3 {
    display: flex;
    align-items: center;
}
.s-imgreview-1 .s_flex h3 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}
.s-imgreview-1 .s_flex h3:not(.mtitle)>i.fa {
    color: #057682;
    font-size: 30px;
    margin-right: 7px;
}
.s-imgreview-1 .s_other {
    padding: 15px;
}
.s-imgreview-1 .s_other .mtitle {
    font-weight: 600;
    margin-bottom: 10px;
}
.s-imgreview-1 .s_other .item {
    margin: 2px 5px;
    border: 1px solid #ddd;
    padding: 10px 5px;
    border-radius: 10px;
}
.s-imgreview-1 .s_other .item a {
    display: flex;
    align-items: center;
}
.s-imgreview-1 .s_other .item a img {
    width: 20%;
}
.s-imgreview-1 .s_other .item a div {
    width: 80%;
    margin-left: 10px;
}
.s-imgreview-1 .s_other .item a div h3 {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}
.s-imgreview-1 .s_other .item a div p {
    color: #d70018;
    font-size: 13px;
    margin-bottom: -1px;
}
.s-imgreview-1 .s_box {
    display: none;
}
.s-imgreview-1 .s_box.active {
    display: block;
}
.s-imgreview-1 .s_box .s_img {
    padding: 15px 15px 0;
}
.s-imgreview-1 .s_box .slick-slide img {
    height: 100%;
    object-fit: contain;
}
.s-imgreview-1 .col-md-8 {
    padding-right: 0;
}
.s-imgreview-1 .col-md-4 {
    background-color: #012f34;
    padding: 20px;
}
.s-imgreview-1 .s_list .s_title {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}
.s-imgreview-1 .s_list ul {
    max-height: 595px;
    overflow-y: auto;
}
.s-imgreview-1.video .s_list ul {
    max-height: 550px;
}
.s-imgreview-1 .s_list ul::-webkit-scrollbar {
    width: 5px;
}
.s-imgreview-1 .s_list ul::-webkit-scrollbar-track {
    background: #ccc;
}
.s-imgreview-1 .s_list ul::-webkit-scrollbar-thumb {
    background: #057682;
    border-radius: 5px;
}
.s-imgreview-1 .s_list ul li {
    margin-bottom: 20px;
}
.s-imgreview-1 .s_list ul li a {
    display: flex;
    align-items: center;
}
.s-imgreview-1 .s_list ul li a .ht-ratio--50 {
    width: 30%;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.5s;
}
.s-imgreview-1 .s_list ul li.active .ht-ratio--50, .s-imgreview-1 .s_list ul li:hover .ht-ratio--50 {
    border: 2px solid #d70018;
}
.s-imgreview-1 .s_list ul li .ht-ratio--50 span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-imgreview-1 .s_list ul li .ht-ratio--50 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-imgreview-1 .s_list ul li .icon {
    width: 100%;
    font-size: 20px;
    text-align: center;
    z-index: 9;
    position: absolute;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    color: #fff;
}
.s-imgreview-1 .s_list ul li a div:last-child {
    width: 70%;
    margin-left: 10px;
}
.s-imgreview-1 .s_list ul li a div:last-child h3 {
    font-size: 14px;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.s-imgreview-1 .s_list ul li a div:last-child p {
    color: #a6a6a6;
    font-size: 13px;
    margin-bottom: -1px;
}
.s-tab-9.review .s_more {
    flex: none;
}
.c-imgreview .c-modal-box, .c-imgreview .c-modal-box {
    padding-top: 2.286em;
    transform: none;
}
@media screen and (min-width: 768px) {
    .p-slide-7 .b-sslide-default {
        position: absolute;
        top: 35px;
        z-index: 99;
    }
    .p-slide-7 .slider-nav {
        width: 50px;
    }
    .p-slide-7 .slider-nav .slick-prev {
        top: 0;
        left: 13px;
    }
    .p-slide-7 .slider-nav .slick-next {
        bottom: -30px;
        top: unset;
        right: 13px;
    }
    .p-slide-7 .slider-nav .slick-prev::before {
        content: '\f077';
    }
    .p-slide-7 .slider-nav .slick-next::before {
        content: '\f078';
    }
    .p-slide-7 .slick-track {
        display: block;
    }
    .p-slide-7 .slider-nav .slick-track.transform-none {
        -webkit-transform: none !important;
        transform: none !important;
    }
}
@media screen and (min-width: 992px) {
    .p-detail-13 .p_detail_mobile {
        display: none;
    }
    .sticky {
        position: sticky;
        top: 10px;
        transition: 0.25s ease;
    }
}
@media (min-width: 992px) and (max-width: 1259px) {
    .p-detail-13 .p_content .size ul li {
        width: calc((100% / 2) - 12px);
    }
    .p-detail-13 .p_content .button {
        width: 65%;
    }
}
@media screen and (max-width: 1259px) {
    .p-detail-13 .p_content {
        position: relative;
    }
    .p-detail-13 .p_content .title {
        font-size: 17px;
        margin-top: 0.75em;
    }
}
@media screen and (max-width: 991px) {
    .displaynone {
        display: none;
    }
    .c-imgreview .c_close {
        background-color: #05768224;
        color: #057682;
    }
    .s-review-1 .s_button {
        margin-bottom: 15px;
    }
    .s-comment-1 .s_like {
        padding: 15px;
    }
    .s-comment-1 .s_like div a {
        margin-bottom: 5px;
    }
    .s-comment-1 .s_like div {
        display: flex;
    }
}
@media screen and (max-width: 767px) {
    .p-detail-13 .p_content .button {
        display: block;
    }
    .p-slide-7 .slider-nav {
        margin: 0;
    }
    .p-detail-13 .p_video {
        top: 0;
        right: 0;
    }
    .p-detail-13 .p_detail .p_box {
        padding: 10px;
    }
    .b-card-28 .b_content {
        padding: 0 0 20px;
    }
    .table-reponsive {
        overflow-x: auto;
    }
    .table-reponsive table {
        width: 900px;
    }
    .p-detail-13 .p_detail .ht-format-detail iframe {
        height: 300px;
    }
}
@media screen and (max-width: 575px) {
    .p-detail-13 .p_content .size ul li {
        width: calc((100% / 2) - 12px);
    }
}
@media (max-width: 479px) {
    .p-detail-13 .p_content .button {
        width: 65%;
    }
    .p-detail-13 .p_detail .ht-format-detail iframe {
        height: 250px;
    }
}
@media (max-width: 379px) {
    .p-detail-13 .p_content .button {
        width: 60%;
    }
    .p-detail-13 .p_content .quality>div input {
        min-width: 1em;
    }
    .p-detail-13 .p_detail .ht-format-detail iframe {
        height: 200px;
    }
}