.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}
.animated.infinite {
    animation-iteration-count: infinite
}
.animated.hinge {
    animation-duration: 2s
}
.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    animation-duration: .75s
}

/* BEGIN s-slide-13 */
.s-slide-13 .ht-ratio--30::before {
    padding-bottom: calc(30% - 0.89px);
}
.s-slide-13 .slick-slide {
    position: relative;
}

.s-slide-13 .slick-dots {
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.s-slide-13 .slick-dots li.slick-active {
    border: 1px solid #fff;
}
.s-slide-13 .slick-dots li.slick-active button {
    background-color: #fff;
}
.s-slide-13 .slick-dots li button {
    font-size: 4px;
    margin: 5px;
    color: transparent;
    background-color: #aaa;
    border-radius: 0;
    width: 3em;
    height: 3em;
}
.s-slide-14 {
    overflow: hidden;
}
.s-slide-14 .ht-ratio--80::before {
    padding-bottom: calc(87% - 0.25px);
}
/* END b-card-6 */
.s-cate-1 {
    margin: 30px 0;
}
.s-cate-1 .row {
    margin: 0 -5px;
}
.s-cate-1 .col-md-3 {
    padding: 0 5px;
}

.s-quote-1 {
    margin: 30px 0;
    text-align: center;
}
.s-quote-1 .title {
    font-family: 'Dancing Script';
    font-weight: bold;
    color: #057682;
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    position: relative;
    display: inline-block;
}
.s-quote-1 .title::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-right: 10px;
    background-color: #c94527;
}
.s-quote-1 .title::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-left: 10px;
    background-color: #c94527;
}
.s-section-3 {
    margin: 45px 0 45px;
}
.s-section-3 .slick-slider {
    z-index: 1;
}
.s-section-3 .slick-slider .slick-track, .s-section-3 .slick-slider .slick-list {
    display: flex;
}
.s-section-3 .slick-slider {
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}
.s-section-3 .slick-slider::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.s-section-3 .slick-slider .item {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.s-section-3 .slick-slider .item:nth-child(n+2) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}
.s-section-3 .slick-slider .item.slick-slide:nth-child(n+2) {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 20px;
}


.s-section-3 .s_title {
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #057682;
    margin-bottom: 10px;
}
.s-product-1 {
    position: relative;
    margin: 60px 0 0;
    padding-bottom: 35px;
}
.s-product-1 .slick-slider {
    z-index: 1;
}
.s-product-1 .slick-slider .item {
    position: relative;
    width: calc((100% / 4) - 14px);
    float: left;
    margin: 2px 7px;
}
.s-product-1 .slick-slider .item:nth-child(n+5) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.s-product-1 .slick-slider .item.slick-slide:nth-child(n+5) {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.s-product-1::after {
    content: '';
    width: 100%;
    height: 65%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: -1px;
    background-image: url(/images/bgs/bg-10x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.s-combo-1 {
    position: relative;
    background-size: cover;
    padding: 50px 0 45px;
    margin-bottom: 55px;
    overflow-x: hidden;
}
.s-combo-1 .slick-slider {
    z-index: 1;
}

.s-combo-1 .slick-slider .item {
    position: relative;
    width: calc((100% / 4) - 14px);
    float: left;
    margin: 2px 7px;
}
.s-combo-1 .slick-slider .item:nth-child(n+5) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.s-combo-1 .slick-slider .item.slick-slide:nth-child(n+5) {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.s-combo-1 .s_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.s-combo-1 .s_flex .title {
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin-left: 7px;
}
.s-combo-1 .s_flex a {
    font-weight: 400;
    color: #fff;
    transition: all 0.5s;
}
.s-combo-1 .s_flex a:hover {
    color: #ffae1b;
}

.s-commit-2 {
    margin: 30px 0 50px;
    overflow: hidden;
}
.s-commit-2 .s_slick {
    position: relative;
    height: 100%;
}
.s-commit-2 .s_slick .b-sslide-default {
    height: 100%;
}
.s-commit-2 .s_slick .slick-slider {
    height: 100%;
}
.s-commit-2 .slick-slider .item {
    position: relative;
    overflow: hidden;
    background-size: cover;
    height: 100%;
}
.s-commit-2 .slick-slider .item:nth-child(n+2) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.s-commit-2 .slick-slider .item.slick-slide:nth-child(n+2) {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.s-commit-2 .s_slick .slick-list {
    border-radius: 10px;
    height: 100%;
}
.s-commit-2 .s_slick .slick-track {
    height: 100%;
}
.s-commit-2 .s_slick .ht-ratio--90 {
    border-radius: 10px;
}
.s-commit-2 .s_content {
    padding-bottom: 50px;
}
.s-commit-2 .s_more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 90%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #057682;
    font-weight: 600;
    padding: 10px;
    transition: all 0.5s;
}
.s-commit-2 .s_more:hover {
    background-color: #057682;
    color: #fff;
}
.s-commit-2 img {
    border-radius: 10px;
}
.s-commit-2 .s_box {
    background-color: #057682;
    border-radius: 10px;
}
.s-commit-2 .s_title {
    color: #fff;
    font-weight: 400;
    font-size: 62px;
    line-height: 1.15em;
    margin-top: 60px;
    margin-bottom: 15px;
}
.s-commit-2 .s_list li {
    color: #fffc;
    margin-bottom: 5px;
}
.s-commit-2 .c-button-19 {
    border: 2px solid #fff;
    margin-top: 15px;
}
.myVideo .c-modal-box {
    max-width: 1000px;
}
.myVideo .c_body {
    padding: 0;
}
.myVideo .c-modal-group {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    overflow: unset;
}
.myVideo .c_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
    z-index: 1000;
}
.s-video-1 .s_box {
    background-size: cover;
    position: relative;
    padding: 50px 0;
    border-radius: 10px;
}
.s-video-1 .s_box:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.s-video-1 .s_overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    cursor: pointer;
}
.s-video-1 .s_overlay .icon {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    animation: radio-btn 1.5s linear infinite;
}
.s-video-1 .s_title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    color: #fff;
    margin-bottom: 30px;
}
@keyframes radio-btn {
    0% {
        box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
            0 0 0 0 rgba(207, 8, 8, 0);
    }
    10% {
        box-shadow: 0 0 4px 3px, 0 0 6px 5px rgba(0, 0, 0, 0), 0 0 6px 7px;
    }
    100% {
        box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 20px rgba(0, 0, 0, 0),
            0 0 0 20px rgba(207, 8, 8, 0);
    }
}
.s-news-1 {
    margin: 50px 0 30px;
}
.s-news-1 .slick-slider {
    z-index: 1;
}
.s-news-1 .slick-slider .item {
    position: relative;
    width: calc((100% / 4) - 14px);
    float: left;
    margin: 2px 7px;
}
.s-news-1 .slick-slider .item:nth-child(n+5) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.s-news-1 .slick-slider .item.slick-slide:nth-child(n+5) {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.s-banner-1 img {
    border-radius: 10px;
}
@media screen and (min-width: 576px) {
    .s-slide-14 {
        display: none;
    }
    .mobile {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .s-quote-1 .title {
        font-size: 40px;
    }
    .s-quote-1 .title::after, .s-quote-1 .title::before {
        display: none;
    }
    .s-commit-2 .s_title {
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .s-commit-2 .c-button-19 {
        margin-bottom: 20px;
    }
    .s-combo-1 .slick-slider .item {
        width: calc((100% / 2) - 14px);
    }
    .s-combo-1 .slick-slider .item:nth-child(n+3) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .s-combo-1 .slick-slider .item.slick-slide:nth-child(n+3) {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .s-news-1 .slick-slider .item {
        width: calc((100% / 2) - 14px);
    }
    .s-news-1 .slick-slider .item:nth-child(n+3) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .s-news-1 .slick-slider .item.slick-slide:nth-child(n+3) {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .s-product-1 .slick-slider .item {
        width: calc((100% / 2) - 14px);
    }
    .s-product-1 .slick-slider .item:nth-child(n+3) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .s-product-1 .slick-slider .item.slick-slide:nth-child(n+3) {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}
@media screen and (max-width: 575px) {
    .desktop {
        display: none;
    }
    .s-slide-14 .slick-slider .item:nth-child(n+2) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .s-slide-14 .slick-slider .item.slick-slide:nth-child(n+2) {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .s-quote-1 {
        margin-top: 20px;
    }
    .s-quote-1 .title {
        font-size: 35px;
    }
    .s-quote-1 .title::before {
        font-size: 13px;
        top: -16px;
        left: -3px;
    }
    .s-quote-1 .title::after {
        font-size: 13px;
        top: 20px;
        right: -5px;
    }
    .s-section-3 {
        margin: 25px 0;
    }
    .s-section-3 .s_title {
        font-size: 25px;
    }
    .s-product-1 {
        margin: 30px 0 0;
        padding-bottom: 0;
    }
    .s-combo-1 {
        padding: 20px 0 10px;
        margin-bottom: 30px;
    }
    .s-combo-1 .s_flex .title {
        font-size: 26px;
    }
    .s-combo-1 .s_flex {
        display: block;
    }
    .s-combo-1 .s_flex a {
        margin-left: 9px;
    }
    .s-commit-2 .s_content {
        padding: 0;
    }
    .s-commit-2 {
        margin: 0px 0 35px;
    }
    .s-news-1 {
        margin: 20px 0 5px;
    }

    .s-slide-13 {
        display: none;
    }
    .s-section-3 .b-card-77 {
        padding: 10px 15px;
    }
    .s-section-3 .b-card-77 .b_comment {
        display: none;
    }
    .s-section-3 .b-card-77 .b_more {
        display: block;
        text-align: center;
    }
    .s-section-3 .b-card-77 .b_title {
        font-size: 15px;
    }
    .s-banner-1 a:first-child {
        display: none;
    }
    .s-banner-1 a:last-child {
        display: block;
    }
    .s-commit-2 .s_title {
        font-size: 18px;
    }
    .s-commit-2 .s_list li {
        font-size: 13px;
    }
    .s-commit-2 .c-button-19 h2 {
        font-size: 11px
    }
    .s-commit-2 .s_more {
        width: 90px;
        height: 90px;
        font-size: 11px;
    }
}
@media screen and (max-width: 400px) {
    .s-commit-2 .s_title {
        font-size: 22px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}
.fadeInDown {
    animation-name: fadeInDown
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.fadeIn {
    animation-name: fadeIn
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}
.fadeInLeft {
    animation-name: fadeInLeft
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}
.fadeInRight {
    animation-name: fadeInRight
}